.main {
    position: absolute;
width: 1440px;
height: 1069px;
left: 0px;
top: 80px;

background: #F80FA8;
}
.home-1 {
    position: absolute;
width: 785px;
height: 903px;
left: -65px;
top: 87px;
}
.header {
    position: absolute;
width: 454px;
height: 249px;
left: 804px;
top: 105px;

font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 66px;
line-height: 77px;
/* or 117% */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFF42C
}

.content {
    position: absolute;
width: 587px;
height: 512px;
left: 720px;
top: 378px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 55px;
/* or 167% */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
}

.main-1 {
    position: absolute;
    width: 1440px;
    height: 1069px;
    left: 0px;
    top: 1069px;
    background-color: #A1E781;
}
.lets {
    position: absolute;
    width:901px;
    height: 901px;
    left: 734px;
    top: 143px;
}

.header-1 {
    position: absolute;
    width: 712px;
    height: 160px;
    left: 112px;
    top: 143px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    display: flex;
    align-items: flex-end;
    color: #64268E;
}

.content-1 {
    position: absolute;
    width: 686px;
    height: 407px;
    left: 110px;
    top: 361px;
    font-family: 'DM Sans';
    font-style: normal;
    font-family: 400;
    font-size: 33px;
    line-height: 55px;
    color: #000000;
}

.btn {
    position: absolute;
    width: 271px;
    height: 74px;
    left: 303px;
    top: 768px;
    background: #FF40BD;
    border: 1px solid #000000;
    border-radius: 33px;
}

.main-2 {
    position: absolute;
    width: 1429px;
    height: 1068px;
    left: 0px;
    top: 2138px;
    background: #CDBFFF;
}
.home-3 {
    position: absolute;
width: 785px;
height: 1181px;
left: -65px;
top: 0px;
}

.header-2 {
    position: absolute;
    width: 660px;
    height: 161px;
    left: 744px;
    top: 108px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    display: flex;
    align-items: flex-end;
    color: #EB009A;
}

.btn-1 {
    position: absolute;
    width: 231px;
    height: 57px;
    left: 764px;
    top: 344px;
    background: #af3cfc;
    border: 1px solid #000000;
    border-radius: 33px;
}

.content-2 {
    position: absolute;
    width: 698px;
    height: 275px;
    left: 737px;
    top: 548px;
   font-family: 'DM Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 33px;
   line-height: 55px;
   color: #000000;
}

.last {
    position: absolute;
    top: 3126px;
}