.contact-main {
    position: absolute;
    width: 1440px;
    height: 1069px;
    left: 0px;
    top: 80px;
   background: #1A4789;
}

.contact-header {
    position: absolute;
    width: 259px;
    height: 57px;
    left: 71px;
    top: 81px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: #EAE7E7;
}

.contact-header-1 {
    position: absolute;
    width: 710px;
    height: 401px;
    left: 82px;
    top: 240px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    color: #A1E781
}

.email {
    position: absolute;
width: 232px;
height: 56px;
left: 49px;
top: 462px;

background: #FF40BD;
border: 1px solid #000000;
border-radius: 33px;
}

.email-id {
    position: absolute;
    width: 206px;
    height: 67px;
    left: 12px;
    top: 19px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

.email-n {
    position: absolute;
width: 432px;
height: 57px;
left: 351px;
top: 462px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 55px;
/* or 167% */


color: #FFFFFF;
}



.phone {
    position: absolute;
width: 232px;
height: 56px;
left: 49px;
top: 662px;

background: #FF40BD;
border: 1px solid #000000;
border-radius: 33px;
}

.phone-id {
    position: absolute;
width: 167px;
height: 68px;
left: 31px;
top: 19px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}

.phone-n {
    position: absolute;
width: 261px;
height: 58px;
left: 351px;
top: 662px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 55px;
/* or 167% */


color: #FFFFFF;

}

.social {
    position: absolute;
    width: 232px;
    height: 57px;
left: 49px;
top: 862px;

background: #FF40BD;
border: 1px solid #000000;
border-radius: 33px
}

.social-id {
    position: absolute; 
width: 181px;
height: 39px;
left: 24px;
top: 19px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
}

.facebook {
    position: absolute;
width: 145px;
height: 160px;
left: 351px;
top: 882px;
color: rgb(150, 183, 255);
display: flex;


}

.instagram {
    position: absolute;
width: 84px;
height: 80px;
left: 531px;
top: 882px;
color: rgb(241, 166, 74);
}

.twitter {
    position: absolute;
    width: 84px;
    height: 80px;
    left: 711px;
    top: 882px;
    color: rgb(241, 166, 74);   
}